@use 'variables' as *;

::ng-deep body {

    background-color: $header-bg-color-light;

    * {
        color: $font-color-light;
    }

    .body {
        background-color: $bg-secondary-light;
    }

    table {
        background-color: $bg-tertiary-light;

        tr {
            border-bottom: 1px solid $bg-tertiary-light;
        }

        td {
            border-inline: 1px solid $bg-tertiary-light;
        }
    }

    th {
        background-color: $bg-tertiary-light
    }


    &.dark {
        background-color: $header-bg-color-dark;

        * {
            color: $font-color-dark;
        }

        .body {
            background-color: $bg-secondary-dark;
        }


        table {
            background-color: $bg-tertiary-dark;

            tr {
                border-bottom: 1px solid $bg-tertiary-dark;
            }

            td {
                border-inline: 1px solid $bg-tertiary-dark;
                background-color: $bg-tertiary-dark;
            }


        }

        th {
            background-color: $bg-tertiary-dark;
        }
    }

}

.body {
    width: 55%;
    margin: auto;
    padding: 2%;
    height: 80vh;
    text-align: center;
}


.top {
    width: fit-content;
    margin-inline: auto;
    text-transform: capitalize;
    margin-bottom: 5%;
}

.move-name {
    text-align: center;
    font-size: 40px;
    padding: 5px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}


.atk-type-container {
    height: 10%;
    width: fit-content;
    margin-inline: auto;
    text-transform: capitalize;

    h3 {
        margin-right: 15px;
    }
}

.atkType {
    height: 50%;
}

img {
    object-fit: contain;
}

.type-wrapper {
    display: flex;
    flex-direction: row;

    img {
        width: 100px;
    }
}

.description {
    width: 80%;
    margin-inline: auto;
    font-size: 18px;
    max-height: 30%;
    overflow: scroll;
}


.table {
    display: flex;
    justify-content: center;

    table {
        width: 95%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1rem;

        tr {
            border: none;

        }

        th,
        td {
            width: 5%;
            margin-inline: 2px;
            text-align: left;
            text-align: center;
            border: none;
        }

        .x4 {
            background-color: #fea2a2;
            color: #a10000;
        }

        .x2 {
            background-color: #ffc5b3;
            color: #a15c00;
        }

        .x05 {
            background-color: #c9f9c9;
            color: #098d09;
        }

        .x025 {
            background-color: #96fd96;
            color: #066d06;
        }

        .x0 {
            background-color: #e0e0e0;
            color: #666;
        }

        th {
            font-weight: 600;
        }

        tr:last-child td {
            border-bottom: none;
        }
    }
}