.damage-class-wrapper{
    display: flex;
    flex-direction: row;

    img{
        width: 100px;
    }
}

.type-wrapper{
    display: flex;
    flex-direction: row;

    img{
        width: 100px;
    }
}