.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grille fluide avec des colonnes qui s'adaptent */
  padding: 20px;
}

.pokemon-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.moveImage {
  width: 80px;
  margin-bottom: 15px;
}

.move-card{
  line-height: 0.5;
}

a {
  text-decoration: none;
}

