.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 50px;
}

 p {
        margin: 0;
 }

.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;


  .top {
    display: flex;
    flex-direction: row;
    width: 100%;

    img {
      width: 20%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }

    .top-right {

      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .onRow {
        display: flex;
        flex-direction: row;
        gap: 5%;
      }


      .pokemon-name {
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
      }

    }
  }

  .pokemon-moves {

    width: 50%;

    .move-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 25px;

      img {
        height: 60%;
      }

      p {
        margin-right: 5px;
      }
    }
  }

  .body{
    margin-inline: 2%;
    width: 96%;
    display: flex;
    flex-direction: row;
  }
}