@use 'variables' as *;

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}


body {
  background-color: $bg-color-light;

  &.dark {
    background-color: $bg-color-dark;
  }
}