.teamContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin-inline: 1%;
}

.pokemon-card-container {
    width: 32%;
    padding: 10px;

}

.copy-pokepaste {
    border-radius: 5px;
    text-align: center;
    width: 10%;
    margin-left: 45%;
}

h3{
    text-align: center;
    margin-top: 25px;
}

.table {
    display: flex;
    justify-content: center;

    table {
        width: 90%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1rem;
        background-color: #fff;

        tr {
            border: none;
            border-bottom: 1px solid #f2f2f2;


        }

        th,
        td {
            width: 5%;
            margin-inline: 2px;
            text-align: left;
            text-align: center;
            border: none;
            border-inline: 1px solid #f2f2f2;
        }

        .x4 {
            background-color: #fea2a2;
            color: #a10000;
        }

        .x2 {
            background-color: #ffc5b3;
            color: #a15c00;
        }

        .x05 {
            background-color: #c9f9c9;
            color: #098d09;
        }

        .x025 {
            background-color: #96fd96;
            color: #066d06;
        }

        .x0 {
            background-color: #e0e0e0;
            color: #666;
        }

        th {
            background-color: #f2f2f2;
            font-weight: 600;
        }

        tr:last-child td {
            border-bottom: none;
        }
    }
    .average{
        height: 20px;
        border-radius: 0 !important;
    }
}